# **Let's explore a data set**

You will practice how to open a dataset and how to explore it.
The dataset you are going to work with has the number of genes we share with various different species. We will see, if we really share half our genes with bananas.

In [1]:
import pandas as pd
dataset = pd.read_csv('dataset1.csv')

## General Commands to explore a data set

Now we saved the content of the dataset1.csv file under the name 'dataset'. To see it, simply run the below code.

In [ ]:
dataset

First, let's see, how big it is!

In [ ]:
dataset.shape

Isn't there a way to just have a sneek peak in the data set without printing out the whole thing?

In [ ]:
dataset.head()

## Extracting a column

To see only one column, for example Species Name:

In [ ]:
dataset['Species.Name']

Now print here the number of common genes, write Genes.Number inside the brackets. Make sure you capitilize the words and put a dot inbetween just like you see in the table label. Alternatively, try to write yoga with a small letter and see what happens. Why do you think, this happened?

In [ ]:
dataset['Genes.Number']

Now print the kingdom column below. Notice that as you type the few letters of the word 'dataset', just below a blue text appears, asking you, if this is what you meant. If you hit enter/return, then you will see that the word you are writing is autocompleted. This is a great feauture, feel free to use it. What do you need to write in the brackets?

In [ ]:
dataset[]

Finally, let's say I want to list all the column names. Is it possible?

In [ ]:
dataset.columns

## Extracting a row

Let's print the number of genes humans share with banana. iloc part informs the computer that we are requesting information about a certain position. The number before the comma is for the row and the one after the comma is for the column. Let's only specify the row of banana:

In [ ]:
dataset.iloc[1,]

You'll notice that the code printed not the row for banana but for the cat. This is because in python indexing begins with 0 instead of 1. So we need to print the 0th row to get the line concerning banana.

In [ ]:
dataset.iloc[0,]

What if I want to print the number for the dog? Please insert the number of the row that reports about the dog within the squared brackets:

In [ ]:
dataset.iloc[,]

What about the rice?

In [ ]:
dataset.iloc[,]

Now, practice writing the full line yourself to find about the number of genes we share with potato:

And what about kinoa. Show your answer to the instructor, to see if it is right.

What if I want to print the first five rows, just like head function does:

In [ ]:
dataset.iloc[0:5,]

Notice that we put 0:5, as in start printing the 0th row and until the 5th. The odd way, python counts.

Now, try to print first three lines. What do you think, we need to put in the bracket?

In [ ]:
dataset.iloc[,]

What about the next five lines?

In [ ]:
dataset.iloc[]

Now try the last three lines and show to your instructor, your answer:

Let's now try to be more specific in our request, and as for the number of genes we share with banana only, no columns other than that:

In [ ]:
dataset.iloc[0,2]

oops, remember the odd way of indexing. Start counting with 0. Hence the column of Genes.Number is not 2 but 1 ;)

In [ ]:
dataset.iloc[0,1]

Let's try to find out the number of genes shared with a chimpanzee:

In [ ]:
dataset.iloc[,]

And what if I want to print out the name of the species:

In [24]:
dataset.iloc[2,0]

'Chimpanzee'

Well, I mean, also the number of shared genes:

In [29]:
dataset.iloc[2,0:2]

Species.Name    Chimpanzee
Genes.Number         18400
Name: 2, dtype: object

Little summary: Why did we write 0:2 for the index of columns? Pleas write your answer below and share with your instructor:

Let's do the same for rice genes:

## Basic Statistics with Columns

What if I want to calculate the average for a column:

In [ ]:
dataset['Genes.Number'].mean()

I can similarly find max and min values with just one click!

In [ ]:
dataset['Genes.Number'].max()

In [ ]:
dataset['Genes.Number'].min()

Let's say I want to compute the percantage of genes that are shared between species among the total number of genes in humans. How do I calculate that? (We have 20152 genes.)

How do I make a calculation? Very simple!

In [ ]:
2+2

I can save the result of my calculation and then use it later:

In [ ]:
x = 2+2
x + 5

Banana has 3485 common genes with humans. Humans have 20152 genes. To calculate how much of those are common with banana:

In [ ]:
3485/20152

Ok, is this number really high compared to the others?

To find out, I need to calculate the percentage for each species. Seriously, do the same calculation TEN times? Boring!

Well, we can write a code to do that:

In [ ]:
dataset['Genes.Number']/20152